/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.notification {
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.card {
  border: 1px solid black;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
}
